/验证码识别(RecogniseCode)/bin/Debug/AForge.Math.pdb
/验证码识别(RecogniseCode)/bin/Debug/AForge.pdb
/验证码识别(RecogniseCode)/bin/Debug/RecogniseCode.pdb
/验证码识别(RecogniseCode)/bin/Debug/AForge.Imaging.pdb
/验证码识别(RecogniseCode)/bin/Debug/*.pdb
/验证码识别(RecogniseCode)/bin/Debug/*.xml
/验证码识别(RecogniseCode)/*.suo
/bin/Debug/AforgenetTest.vshost.exe
/bin/Debug/AforgenetTest.vshost.exe.config
/bin/Debug/AforgenetTest.vshost.exe.manifest
